---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Alejandro Puig Adell"
  description="Portfolio de Alejandro Puig Adell - Desarrollador y Programador Web"
>
  <main></main>
</Layout>
