---
import { Icon } from "astro-icon/components";
---

<div class="p-8 block rounded-lg bg-[#232334] shadow-lg animate-fadeIn">
  <h1 class="pb-4 font-bold text-2xl">Experiencia</h1>
  <ol class="relative border-s border-gray-200 xborder-gray-700">
    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-gray-50 dark:ring-[#232334] bg-[#4e4e87]"
      >
        <Icon name="mdi:briefcase" />
      </span>
      <h3
        class="flex items-center mb-2 text-lg font-semibold text-gray-900 dark:text-white"
      >
        nadunet <span
          class="bg-[#01b182] text-[#0c0c0d] text-sm font-semibold me-2 px-2.5 py-1 rounded-full ms-3"
          >Actualmente trabajando</span
        >
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
        >+1 año - Enero 2024 - Hasta ahora</time
      >
      <p class="mb-4 text-base font-normal text-gray-300 text-balance">
        He trabajado en proyectos que me han permitido consolidar mis
        habilidades en tecnologías como <strong class="text-gray-400"
          >Strapi</strong
        >, <strong class="text-gray-300">React</strong>, <strong
          class="text-gray-300">Tailwind</strong
        > y <strong class="text-gray-300">Java</strong>. He colaborado en el
        desarrollo de aplicaciones web eficientes y modernas, desde la
        implementación del backend con <strong class="text-gray-400"
          >Strapi</strong
        > hasta la creación de interfaces atractivas y funcionales con <strong
          class="text-gray-300">React</strong
        > y <strong class="text-gray-300">Tailwind</strong>.
      </p>
    </li>
    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-gray-50 dark:ring-[#232334] bg-[#4e4e87]"
      >
        <Icon name="mdi:briefcase" />
      </span>
      <h3
        class="flex items-center mb-2 text-lg font-semibold text-gray-900 dark:text-white"
      >
        Freelance
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
        >+6 meses - Julio 2023 - Enero 2024</time
      >
      <p class="mb-4 text-base font-normal text-gray-300 text-balance">
        Durante este período trabajé como freelance en diversos proyectos
        mientras consolidaba mis estudios. Este tiempo me permitió aplicar mis
        habilidades en desarrollo mientras buscaba nuevas oportunidades
        laborales.
      </p>
    </li>

    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-gray-50 dark:ring-[#232334] bg-[#4e4e87]"
      >
        <Icon name="mdi:briefcase" />
      </span>
      <h3 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
        Prácticas en COGITI Valencia
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
        >3 meses - Completado en Junio de 2023</time
      >
      <p class="text-base font-normal text-gray-300 text-balance">
        Formé parte de un equipo encargado de la recreación desde cero de la
        aplicación web de la empresa, utilizando tecnologías como <strong
          class="text-gray-300">jQuery</strong
        >, <strong class="text-gray-300">MySQL Workbench</strong> y <strong
          class="text-gray-300">PHP</strong
        >.
      </p>
    </li>
    <li class="ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 bg-[#E2856E] rounded-full -start-3 ring-8 dark:ring-[#232334]"
      >
        <Icon name="mdi:book-open-variant" />
      </span>
      <h3 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
        Grado Superior: Desarrollo de Aplicaciones Web
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
        >2 años - Completado en Junio de 2023</time
      >
      <p class="text-base font-normal text-gray-300 text-balance">
        Adquirí habilidades en la configuración de sistemas informáticos,
        gestión de bases de datos y desarrollo de aplicaciones web con acceso a
        datos. Además, aprendí a utilizar tecnologías como <strong
          class="text-gray-300">React</strong
        >, lo que amplió mis competencias en el desarrollo frontend y me preparó
        para enfrentar los desafíos del desarrollo web moderno.
      </p>
    </li>
  </ol>
</div>
