<header class="flex justify-between px-4 py-8">
  <div class="flex flex-row items-center gap-4">
    <img
      class="rounded-full shadow-md size-14"
      alt="Alejandro Puig Adell"
      src="../../public/foto.jpg"
      class="w-full"
    />
    <!-- <h1>Alejandro Puig</h1> -->
  </div>

  <nav class="flex gap-10 items-center text-xl">
    <a href="">Inicio</a>
    <a href="">Experiencia</a>
    <a href="">Proyectos</a>
  </nav>
</header>
